on:
  workflow_call:
    inputs:
      versionType:
        description: 'Type of version increment (major, minor, patch)'
        required: true
        type: string
      githubappId:
        description: 'GitHub App ID for authentication'
        required: true
        type: string
      environment:
        required: false
        default: 'release'
        type: string
    secrets:
      VERSIONBUMP_GHAPP_PRIVATE_KEY:
        required: true

permissions:
  # Permissions needed for creating a github release (gh release create)
  # Note: Using broader write permissions as there's no more granular permission specifically for releases operations.
  contents: write
  # permission for npm error Provenance generation in GitHub Actions requires "write" access to the "id-token" permission
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4 v4.2.2
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4 v4.3.0
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org

      - name: Publish to NPM
        run: npm publish --access=public
